html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #1D1D1F;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site Header */
.site-header-wrapper{
    padding: 40px 0px;
}

.site-nav{
    display: flex;
    align-items: center;
}

.logo{
    display: inline-block;
    vertical-align: baseline;
    transition: opacity 0.3s ease;
}

.logo:hover{
    opacity: 0.8;
}

.logo:active{
    opacity: 0.4;
}

.logo-img{
    display: block;
    width: 147px;
    height: 30px;
}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
}

.nav-item{
    position: relative;
}

.nav-item + .nav-item{
    margin-left: 16px;
}

.nav-link{
    text-decoration: none;
    color: #1D1D1F;
    font-weight: 500;
    display: block;
    transition: box-shadow 0.3s ease;
}

.nav-link:active{
    opacity: 0.8;
}

.nav-link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #F1BC58;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item:hover .nav-link::after, .nav-item-active .nav-link::after {
    transform: scaleX(1)
}

.nav-button{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    background-color: #F1BC58;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 30px;
}

.nav-button:active{
    opacity: 0.8;
}

.nav-button:hover{
    background-color: rgba(241, 187, 88, 0.699);
}

.nav-social-link{
    display: block;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}

.nav-social-link:hover{
    /* opacity: 0.8; */
    transform: scale(1.1);
    /* transform: translateY(-5px); */
}

.nav-social-link:active{
    opacity: 0.8;
}

.nav-social-link + .nav-social-link{
    margin-left: 10px;
}

.nav-social-img{
    display: block;
    /* fill: #1D1D1F; */
}

/* Main Part */
.hero-wrapper{
    padding: 50px 0px 75px;
}

.hero-top{
    position: relative;
}

.hero-top::before{
    content: "";
    width: 680px;
    height: 182px;
    display: inline-block;
    vertical-align: baseline;
    background-image: url(../img/strikethrough.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    left: 20%;
}

.hero-top-heading{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 140px;
    letter-spacing: -10px;
    line-height: 145px;
}

.description-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-top-description{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-right: 20px;
}

.hero-top-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    line-height: 19px;
    color: #F5C15D;
    transition: opacity 0.3s ease;
}

.hero-top-button:hover{
    opacity: 0.8;
}

.hero-top-button::before{
    content: "";
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: baseline;
    background-image: url(../img/scroll.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 10px;
}

/* Projects Section */
.projects-wrapper{
    padding: 80px 0px;
}

.projects{
    background-color: #F3F3F1;
}

.project-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item{
    width: 48%;
    margin-bottom: 80px;
}

.project-link-img{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    transition: transform 0.5s ease;
}

.project-link-img:hover{
    transform: translateY(-10px);
}

.projects-img{
    width: 100%;
    display: block;
    height: 500px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.12);
}

.project-link{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    color: #1D1D1F;
    text-decoration: none;
}

.website-name{
    margin: 0;
    font-size: 23px;
    line-height: 23px;
    font-weight: 600;
}

.website-description{
    margin: 0;
    color: rgba(29, 29, 31, 0.719);
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}

.live-link{
    /* vertical-align: baseline; */
    text-decoration: none;
    color: #F5C15D;
    font-size: 15px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.live-link:hover{
    transform: scale(1.1);
}

.live-link::after{
    margin-left: 10px;
    content: "";
    width: 14px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/long-arrow-alt-right-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    vertical-align: baseline;
}